body{
    background-color: bisque;
    border: 2px;
}
p{
    background-color:rgba(224, 168, 126, 0.317);
    border: 5px solid rgb(3, 45, 28);
    padding: 10px;
    margin: 5px;
    font-weight: bold;
}
div {
    background-color: darkgoldenrod;
    border: 5px solid rgb(162, 179, 178);
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    font-style: italic;
}
button{
    margin: 5px;
}